<form class="comment-form">
    <div>
        Add Comment
        <textarea id="comment-body" name="comment-body"></textarea>
    </div>
    <div class='form-btn-container'>
        <button class='add-comment-btn form-btn' type="submit">add comment</button>
    </div>
</form>