<section id='sortBy'>
    <label for='sortBy'> Sort Posts By:</label>
    <select id="sort-list">
        <option value="1">Newest</option>
        <option value="2">Oldest</option>
        <option value="3">Most Up Voted</option>
        <option value="4">Most Down Voted</option>
        <!--  <option value="5">Most Comments</option> -->
    </select>
</section>